@import url('https://fonts.googleapis.com/css?family=Bitter|Sedgwick+Ave');
* {
  box-sizing: border-box;
}

body {
  background: #075a6e;
  margin: 0 auto;
}

.clickedcard {
  border: rgb(131, 11, 11) 10px solid;
}